<form>
    
    <div class="container1">
      
      <img src="\assets\whiteLogo.png" id="logopic" alt="logopic">
    <div class="container">
      <br>
      <h1>Register</h1>
      <p>Nice to meet you rockstar! Please enter your info to create a new account!</p>
      <hr>
      <label for="username" class="uname"><b>Username</b></label>
      <input [(ngModel)]="user.username" type="text" placeholder="Enter username" name="username" id="username" required>

      <label for="email"><b>Email</b></label>
      <input [(ngModel)]="user.email" type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input [(ngModel)]="user.password" type="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input [(ngModel)]="password2" type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      <hr>
  

      <button type="submit" class="registerbtn" (click)="registerUser()">Register</button> 
      <div class="signin">
      <p>Already have an account? <a routerLink="/login-page">Sign in</a>.</p>
    </div>
    </div>
  </div>
   
  </form>
