<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/0fd8919d3f.js" crossorigin="anonymous"></script>
</head>
  <div class="container1">
    
    <img src="\assets\whiteLogo.png" id="logopic" alt="logopic">

        <main>
          <section id="entry-text" class="card">
            <div id="paragraph">
            
          </div>
          <br>
            
            <form class="d-flex">
              <input id="song-name" class="form-control me-2" type="search" placeholder="Search for any song!" aria-label="Search">
              <button class="btn btn-outline-success" type="submit" (click)="fetchCall()">Search</button>

                <button id="logout" (click)="logout()" type="submit"  >Logout</button>
                    <button id="deleteAcc" (click)="deleteAccount()" type="submit"  >Delete Account</button>
              
                    <p id="resp-name"></p>
              <!-- <p id="resp-song"></p> -->

            </form>
            <br>
            <h2 id="h2">Your Playlist:</h2>
            
            <div id="song-list-container" class="song-list-container">

            </div>
          </section>
          
        </main>
  </div>
   
