
  <div class="container1">
    <img src="\assets\whiteLogo.png" id="logopic" alt="logopic">

        <main>
          <section id="entry-text" class="card">
            <p>Your Playlist</p>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </section>
        </main>
  </div>


    <!-- This will display returned songs by song name-->>

      <!-- <div class="modal" id="add-modal"
      [ngStyle]="{'display':displayStyle}">
        <div class="modal__content">
          <label for="song">Song Name</label>
          <input type="text" name="song-name" id="song" />
          <label for="artist">Artist Name</label>
          <input type="text" name="artist-name" id="artist" />
        </div> -->

